<!--Typical Event Binding -->
<!DOCTYPE html>
<html>
<head>
	<title>Vue Practice</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div class="nav-bar"></div>
		<div class="product">
			<div class="product-image">
				<!-- <img v-bind:src="image"> -->
				<img :src="image">
			</div>
			<div class="product-info">
				<h2>{{ product }}</h2>
				<p>Stock {{ inventory }}</p>
				<p v-if="inventory > 10">IN STOCK</p>
				<p v-else-if="inventory < 10 && inventory > 0">
					ALMOST SOLD
				</p>
				<p v-else>OUT OF STOCK</p>
				<p>Specifications</p>
				<ul class="specifications">
					<!-- foreach($record in $array ) -->
					<li v-for="singleSpec in specifications">
						{{ singleSpec }}
					</li>
				</ul>
				<p>Color Variations</p>
				<!-- foreach($record in $array ) -->
								
				<!-- <ul class="product-color">
					<li v-for="color in colorVariant" :key="color.colorID">
						{{ color.colorOption }}
					</li>
				</ul> -->

				<div v-for="color in colorVariant" :key="color.colorID">
					<p v-on:click="updateImage(color.colorImage)" style="cursor: pointer;">
						{{ color.colorOption }}
					</p>
				</div>

				<div class="cart">
					<p> Cart {{ cart }}</p>
				</div>

				<div>
					<!-- blur
					hover
					doubleclick
					click -->
					<button v-on:click="addToCart">Add to cart</button>
				</div>

			</div>
		</div>
	</div>

</body>


<script type="text/javascript">
	// function addToCart()
	// {

	// }
	var app = new Vue({
		el: "#app",
		data: {
			product			: "iPhone",
			image			: "images/iphone-red.jpeg",
			inventory		: 20,
			specifications	: ["64GB","2GB RAM", "13 MP Camera", "5.5 inch screen"],
			colorVariant	: [
								{
									colorID: 1,
									colorOption: "Red",
									colorImage: "images/iphone-red.jpeg",
								},
								{
									colorID: 2,
									colorOption: "White",
									colorImage: "images/iphone-white.jpeg",
								}
							  ],
			cart 			: 0,

		},
		methods: {
			addToCart()
			{
				// cart = cart + 1
				this.cart += 1
			},
			updateImage(newImage)
			{
				console.log(newImage);
				this.image = newImage
			}

		}
	});
</script>
</html>